*.iml
.gradle
/local.properties
/.idea
.DS_Store
/captures
/other

/build
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/bundles/
app/build/intermediates/classes/debug/net/sourceforge/opencamera/MainActivity$6$1.class
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.1/res/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/mergeJavaRes/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
app/build/
